<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kpu.diyequipmentapplication" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="kr.ac.kpu.diyequipmentapplication.permission.MAPS_RECEIVE"
        android:label="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="공공인"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.basic"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />


        <!--스플래시 설정정-->
        <activity
            android:name=".etc.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".RentalHistoryRecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityCommentRecyclerview"
            android:exported="false" />
        <activity
            android:name=".menu.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".menu.LocationSearchActivity"
            android:exported="false" />
        <activity
            android:name=".menu.MenuSettingActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".login.CheckIdActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityDetailActivity"
            android:exported="false" />
        <activity
            android:name=".login.FindPwdActivity"
            android:exported="false" />
        <activity
            android:name=".login.FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".community.CommunityRecyclerview"
            android:exported="false" />
        <activity
            android:name=".equipment.RegistrationRecyclerview"
            android:exported="false" />
        <activity
            android:name=".equipment.EquipmentRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.EquipmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".equipment.RentalGoogleMap"
            android:exported="false"/>
        <activity
            android:name=".equipment.ScheduleActivity"
            android:exported="false"/>
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatStartActivity"
            android:exported="false" />
        <activity
            android:name=".cart.CartRecyclerview"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBvUrmKbM3-AjxATu6LlIj1-mYq4RWuklM" />
    </application>
</manifest>